/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My Fonts
   ========================================================================== */

@font-face {
  font-family: 'Junction';
  src: url('../fonts/junction/Junction-bold.otf') format('opentype');
}
@font-face {
  font-family: 'Audimat';
  src: url('../fonts/audimat/AUdimat-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Khand';
    src: url('../fonts/khand/Khand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Armata';
    src: url('../fonts/armata/Armata-Regular.otf') format('opentype'),
         url('../fonts/armata/Armata-Regular.ttf') format('truetype');
    ;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

/* code for hero section */

/* =============================================================================
   Hero section CSS
   ========================================================================== */
canvas {
    /*display:block;
    background: #ffffff;
    z-index: 5;
    height: 100%;
    width: 100vh;*/
    display: block;
    vertical-align: bottom;
  }
#particles-js {
    /*position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0; 
    /*background-color: #b61924; */
    /*background-image: url("../imgs/carbon-fibre.png"); */
    /*background-position: 100% 100%;*/
    /*background-size: cover; */
    background-repeat: 0 0; 
    background-position: 50% 50%;
  }
  /* Hero section ends here*/

/* =============================================================================
   My roles CSS
   ========================================================================== */
.typed_wrap {
    display: block;
    height: auto;
    margin: 285px 0 0 480px;
    padding: 15px;
    position: absolute;
}
.typed_wrap h1 {
    display: inline;
    font-size: 4em;
    color: #fff;
    font-family:'Khand', sans-serif;
}
.typed_wrap h1 span {
    color: #fff;
}
.typed::after {
    animation: 0.7s ease 0s normal none infinite running blink;
    content: "|";
    display: inline;
}
.typed-cursor {
    display: none;
    opacity: 0;
}
@keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
/* My roles section end here*/

/* =============================================================================
   Portfolio sections starts here
   ========================================================================== */
.introsection{
    /*background: url('../imgs/stardust.png');*/
    background-color: #000000;
}
.name{
    text-align: center;
    font-family: 'Armata', sans-serif;
    color: #fff;
    font-size: 6em;
    position: absolute;
    margin: 170px 0 0 400px;
}
.biosection{
    height: 673px;
    background-color: #000;
}
#positionbio{
    padding: 130px 0 0 130px;
}
.edusection{
    height: 673px;
    background-color: #000;
    background: url('../imgs/stardust.png');
}
.techsection{
    height: 673px;
    background-color: green;
}
.portfoliosection{
    height: 673px;
    background-color: yellow;
}
.contactsection{
    background: url('../imgs/carbon-fibre.png');
    height: 673px;
    background-color: violet;
}
/* Portfolio sections end here*/

/* Style for our header texts
    * --------------------------------------- */
    h1{
        font-size: 5em;
        font-family: arial,helvetica;
        color: #fff;
        margin:0;
        padding:0;
    }

    /* Backgrounds will cover all the section
    * --------------------------------------- */
    /*#section1,
    #section2,
    #section3,
    #section4,
    #section5,
    #section6{
        background-size: cover;
        background-attachment: fixed;
        text-align:center;
    }*/

    /* Defining each sectino background and styles
    * --------------------------------------- */
    /*#section1{
        background-image: url(imgs/bg1.jpg);
    }
    #section1 h1{
        top: 50%;
        transform: translateY(-50%);
        position: relative;
    }
    #section2{
        background-image: url(imgs/bg3.jpg);
        padding: 6% 0 0 0;
    }
    #section3{
        background-image: url(imgs/bg4.jpg);
        padding: 6% 0 0 0;
    }
    #section4{
        background-image: url(imgs/bg6.jpg);
        padding: 6% 0 0 0;
    }
    #section6{
        background-image: url(imgs/bg7.jpg);
        padding: 6% 0 0 0;
    }
    
    #section3 h1{
        color: #000;
    }*/

    /*Adding background for the slides
    * --------------------------------------- */
    #slide1{
        background-image: url(imgs/bg2.jpg);
        padding: 6% 0 0 0;
    }
    #slide2{
        background-image: url(imgs/bg5.jpg);
        padding: 6% 0 0 0;
    }

    /* Bottom menu
    * --------------------------------------- */
    #infoMenu li a {
        color: #fff;
    }


/*======================
        CONTACT
======================*/


.aboutmehello{
    font-size: 60px;
    font-family: 'Armata', sans-serif;
    color: #fff;
}
.aboutmerest{
    font-size: 40px;
    font-family: 'Khand', sans-serif;
    color: #fff;
}
.aboutmerest1{
    color: #fff;
}